<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpm.shop.mapper.RightsMapper">
    <resultMap id="RightsResultMap" type="com.lpm.shop.entity.Rights">
        <id property="id" column="id"/>
        <result property="authName" column="auth_name"/>
        <result property="level" column="level"/>
        <result property="path" column="path"/>
        <result property="pid" column="pid"/>
    </resultMap>

    <select id="findAll" resultMap="RightsResultMap">
        select * from rights_inf
    </select>

</mapper>